{% extends './html/base.html' %}
{% load static %}

{% block content %}
<div class="flex flex-col min-h-[100vh] p-3 place-items-center gap-4">

    <img src="{% static "./assets/images/ratelimiter-doggy.png" %}" class="max-w-[auto] max-h-[400px]" alt="" srcset="">
    <div class="text-3xl font-bold">
        429 Too many requests
    </div>
    <div class="text-xl">
        Wooh! Stop right there. Thats too many requests that I can't handle
    </div>
    <a href="{% url "home" %}" class="btn btn-dark">
        Go home :)
    </a>
</div>
{% endblock content %}