
{% extends "../html/base.html" %}
{% load custom_tags %}
{% comment %} {% extends1 "../html/base.html" %} {% endcomment %}
{% load tz %}
{% load static %}



{% comment %} {% block head %}
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LfTdsYpAAAAAE3ePEpkWUwh9sEf0dugErefYQxy"></script>
{% endblock head %} {% endcomment %}


{% block title %}Contact us Form - {% endblock title %}
{% block description %}Contact us{% endblock description %}

{% block content %}

    <section class="w-full flex 
                    flex-col
                    place-content-center 
                    px-[10%]
                    p-4
                    gap-5
                    min-h-[100vh]
                    place-items-center
                    max-md:flex-col
                    overflow-hidden
                    "
                    >
        
            <form
                method="POST"
                action="{% url "contact-us" %}"
                onsubmit="return onSubmit(event)"
                class="flex flex-col gap-[5%] h-full mt-[5%]"
            >
                {% if errors %}
                    <div class="error-container m-2">{{errors}}</div>
                {% endif %} {% csrf_token %}

                <div class="flex flex-col gap-2">
                    <h2 class="text-5xl max-md:text-xl primary-text-color font-medium">
                        Contact us
                    </h2>
                    <h3 class="text-3xl max-md:text-3xl">
                        Get your Template
                    </h3>
                </div>
                <div
                    class="max-w-[550px] min-w-[450px] max-md:min-w-[300px] mt-4 flex flex-col gap-3"
                >
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-col gap-1">
                            <div class="text-gray-500">Name</div>
                            <input
                                type="text"
                                class="input"
                                name="name"
                                maxlength="30"
                                required
                                value="{{data.name}}"
                                placeholder="name"
                            />
                        </div>
                        <div class="flex flex-col gap-1">
                            <div class="text-gray-500">Phone</div>
                            <div class="flex gap-1 w-full place-content-center">
                                <select
                                    name="country-codes"
                                    id="country-codes"
                                    class="input min-w-[10%]"
                                ></select>
                                <input
                                    type="text"
                                    class="input w-[70%]"
                                    maxlength="15"
                                    required
                                    value="{{data.phone|phone_number}}"
                                    name="phone-number"
                                    placeholder="phone"
                                />
                                <input type="hidden" value="{{data.phone}}" name="phone" value="" />
                            </div>
                        </div>
                        <div class="flex flex-col gap-1">
                            <div class="text-gray-500">Email</div>
                            <input
                                type="email"
                                class="input"
                                required
                                name="email"
                                maxlength="250"
                                placeholder="email"
                                value="{{data.email}}"
                                id="email"
                            />
                        </div>

                        <div class="flex flex-col w-full gap-2">
                            <div class="text-gray-500">Enquiry</div>
                            <textarea
                                class="input resize-y w-full max-h-[250px] min-h-[40px]"
                                name="description"
                                maxlength="1200"
                                required
                                value="{{data.description}}"
                                placeholder="enquiry"
                            >{{data.description}}</textarea
                            >
                        </div>
                    </div>

                    <button
                        type="submit"
                        class="btn transition-transform hover:translate-x-2 duration-[0.3s] mt-5 ml-auto"
                    >
                        <span>Submit</span>
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </form>

    </section>


{% endblock content %}

{% block scripts %}

    <script src="{% static "./js/inquiry/inquiry.js" %}"></script>

{% endblock scripts %}
